.box{
  width: 1200px;
color: #000;
}


ul{
  display: flex;
  align-items: center;
  list-style-type: none;

}

a{
  text-decoration: none;
}
li{
  margin: 30px;
}

@media only screen and (max-width:600px){
  body{
    background: #000;
  }

  ul{
    flex-direction: column;
  }
}
